@font-face{
    font-family: SocialIcons;
    src: url('../fonts/Social-Circles_v1.1.otf');
}
html {
    scroll-behavior: smooth;
}

/* Primeira imagem */
#inicio {
    width: 100%;
    height: calc(100% - 64px);
}

#inicio figure {
    width: 100%;
    margin: 0px;
}

#inicio figure img {
    width: 200%;
}

.box {
    float: left;
}

.card .card-image {
    height: 280px;
}
.card .card-image .card-title {
    font-weight: 600;
    color: rgb(94, 21, 94);
    bottom: 5px;
}

.btn{
    border-radius: 600px;
    background-color: rgb(94, 21, 94)
}
.logar {
    background-color: yellow;
    color: #1b5e20;
    font-weight: 600;
}

.logotipo {
    width: 64px;
    height: 64px;
}
.servicos-link:hover{
    color:#1b5e20;
    cursor: pointer;
}

.botao {
    text-align: center;
    color: rgb(94, 21, 94);
}

.icons-list li{
    display: inline;
}

.icons-list li a{
    font-family: SocialIcons;
    font-size: 64px;
    color: aliceblue;
}

.icons-list li a:hover{
    color: black;
}

.footer-copyrigth p {
    text-align: center;
    font-weight: 700;
}

.footer_itens {
text-align: center;
}

.menu-link {
    color: #1b5e20;
    font-weight: 600;
}