{% extends 'base.html' %}
{% block main %}
  <div id="page-wrapper">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Atendimento de requisições</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            Lista de requisições em aberto
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-6">

        <p>
          id: {{ requisicao.id  }}
        </p>
        <p>
          usuario:  {{ requisicao.usuario }}
        </p>
        <p>
          data :{{ requisicao.data }}
        </p>
        {% for item in requisicao_itens %}
        <ul>
        <li>
          id: {{ item.material.id }}
        </li>
        <li>
          nome: {{ item.material.nome }}
        </li>
          <li>
           unidade: {{ item.material.unidade }}
          </li>
        <li>
          quantidade: {{ item.quantidade }}
        </li>
        </ul>
        {% endfor %}
      {% if bad_item %}
        {% for item in itens_menor %}
        <div class="alert alert-danger" role="alert">
          O item {{ item.material.nome }} não possui a quantidade solicitada em estoque!
          Há registrado em estoque {{ item.material.quantidade }} unidade(s).
        </div>
        {% endfor %}
        <a href="#" class="btn btn-warning">Atender parcialmente</a>
      {% endif %}
      {% if equal_item %}
      {% for item in itens_iguais %}
        <div class="alert alert-warning" role="alert">
          O item {{ item.material.nome }} possui, em estoque, a mesma quantidade que foi solicitada!
        </div>
        {% endfor %}
      <a href="{% url 'atende_integralmente' requisicao.id %}" class="btn btn-primary">Atender Integralmente</a>
      <a href="{% url 'requisita_new' requisicao.id %}" class="btn btn-warning">Atender Parcialmente</a>
      {% endif %}
      {% if not bad_item and not equal_item  %}
      <a href="{% url 'atende_integralmente' requisicao.id %}" class="btn btn-primary">Atender Integralmente</a>
      <a href="{% url 'requisita_new' requisicao.id %}" class="btn btn-warning">Atender Parcialmente</a>
      {% endif %}
      </div>
    </div>
 </div>
{% endblock %}