{% extends 'base.html' %}
{% block main %}
  <div id="page-wrapper">
    <div class="row">
      <div class="col-lg-12">
        {% for req in requisicoes %}
          <ul>
            <li>
              id : {{ req.id }}
            </li>
            <li>
              data : {{ req.data }}
            </li>
            <li>
              situação : {{ req.situação }}
            </li>
          <li>

          </li>
          </ul>

        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
