<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Listagem de posições de armazenamento</title>
</head>
<body>
<a href="{% url 'home' %}"> <h4>Home </h4></a>
{% if posicoes %}
    {% for posicao in posicoes %}
      <ul>
      <li>
        <a href="{% url 'vincula_material' posicao.id %}">{{ posicao }}</a>
        <a href="{% url 'remover_posicao' posicao.id %}">deletar</a>
      </li>
    </ul>
    {% endfor %}
{% else %}
<h2> Não há posições cadastradas</h2>
<a href="{% url 'nova_posicao' %}">Clique aqui para cadastrar uma nova posicao</a>
{% endif %}
<br>
<a href="{% url 'nova_posicao' %}">Clique Aqui para cadastrar uma nova posicao</a>
</body>
</html>