<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login</title>
</head>
<body>
<h1>Seja bem vindo!</h1>
    {% if user.is_authenticated %}
    <p>Olá {{user.username}}</p>
    <a href="{% url 'logout' %}">Sair</a>
    {% else %}
      <a href="{% url 'login' %}">Login</a>
    {% endif %}
<br>
<a href="{% url 'list_fabricantes' %}">Fabricantes</a>
</body>
</html>