{% extends 'base.html' %}

{% block main %}
  <div id="page-wrapper">
    <div class="row">
      <div class="col-lg-12">
        <h1>Seja bem vindo!</h1>
        {% if user.is_authenticated %}
          <p>Olá {{user.username}}</p>
          <a href="{% url 'logout' %}">Sair</a>
          <br>
          <ul>
            <h4> Menu </h4>
            <li><a href="{% url 'list_fabricantes' %}">Fabricantes</a></li>
            <li><a href="{% url 'lista_material' %}">Materiais</a></li>
            <li><a href="{% url 'list_posicoes' %}">Posições de Armazenagens</a></li>
          </ul>
        {% else %}
          <a href="{% url 'login' %}">Login</a>
        {% endif %}
      </div>
    </div>
  </div>
  </div>
{% endblock %}