<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Lista de Fabricantes</title>
</head>
<body>
{% if fabricantes %}
    {% for fabricante in fabricantes %}
      <ul>
      <li>
        <a href="{% url 'atualiza_fabricante' fabricante.id %}">{{ fabricante.nome_fantasia }}</a>
        <a href="#">deletar</a>
      </li>
    </ul>
    {% endfor %}
{% else %}
<h2> Não há fabricantes cadastrados</h2>
<a href="{%  url 'novo_fabricante' %}">Clique Aqui para cadastrar um fabricante</a>
{% endif %}
<br><br>
<a href="{% url 'novo_fabricante' %}">Novo fabricante</a>
</body>
</html>