{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block main %}
    <div id="page-wrapper">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">Lançar Contagem</h1>
        </div>
        <!-- /.col-lg-12 -->
      </div>
      <!-- /.row -->
      <!-- /.row -->
      <div class="row">
        <div class="col-lg-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              Lançar Contagem
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-lg-6">
                <form  method="POST" >
                  <div class="form-group">
                    <label>Código</label>
                    <input class="form-control" value="{{ mat.material.id }}" disabled>
                  </div>
                  <div class="form-group">
                    <label>Descrição</label>
                    <input class="form-control" value="{{ mat.material.nome }}" disabled>
                  </div>
                  {% if c1 %}
                    <div class="form-group">
                      <label>Contagem</label>
                      <input class="form-control" value="1ª contagem" disabled>
                    </div>
                    <div class="form-group">
                      {% csrf_token %}
                     {{ form1 | crispy }}
                      <button type="submit"> Salvar </button>
                    </div>
                  {% endif %}

                  {% if c2 %}
                    <div class="form-group">
                      <label>Contagem</label>
                      <input class="form-control" value="2ª contagem" disabled>
                    </div>
                    <div class="form-group">
                      {% csrf_token %}
                      {{ form2 | crispy }}
                      <button type="submit"> Salvar </button>
                    </div>
                  {% endif %}

                  {% if c3 %}
                    <div class="form-group">
                      <label>Contagem</label>
                      <input class="form-control" value="3ª contagem" disabled>
                    </div>
                    <div class="form-group">
                      {% csrf_token %}
                      {{ form3 | crispy }}
                      <button type="submit"> Salvar </button>
                    </div>
                  {% endif %}
                </form>

                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-body">
            <div class="col-lg-6">
              <button type="submit" class="btn btn-primary">Salvar</button>
              <button type="button" class="btn btn-danger">Cancelar</button>
            </div>
          </div>
        </div>
        <!-- /#page-wrapper -->
{#          <form  method="POST" enctype="multipart/form-data">#}
{#          {% csrf_token %}#}
{#          {{ form | crispy }}#}
{#          <button type="submit" class="button">Adicionar</button>#}
{#        </form>#}

{% endblock %}